@font-face {
  font-family: "headers";
  src: url("SAWesome.ttf");
}



#RockPaperScissors {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: none;
  background-color: rgb(255, 144, 144);
  margin: auto;
  margin-top: 10px;
  max-width: 75%;
  border-style: solid;
  border-radius: 20px;
  border-color: black;
  border-width: 2px;
  padding: 20px;
 
}

#title {
  font-family: "headers";
}

#TicTacToe {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 10px;
  max-width: 75%;  display: none;
  background-color: rgb(255, 144, 144);
  border-style: solid;
  border-radius: 20px;
  border-width: 2px;
  border-color: black;
  padding: 20px;
}

#body {
  background-color: rgb(251, 89, 89);
  margin: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#dropdownButton {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 
#mario-game {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: block;
} */

#mario {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 10px;
  max-width: 75%;  display: none;
  background-color: rgb(255, 144, 144);
  border-style: solid;
  border-radius: 20px;
  border-width: 2px;
  border-color: black;
  padding: 20px;
} 
